body {
  color: white;
  background-color: black;
}

.app {
  margin-top: 20px;
  // display: flex;
  .cities {
    .city {
      text-align: center;
      padding: 4px;
      padding-left: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      margin-bottom: 10px;
      font-size: 30px;
      &:hover {
        background-color: white;
        color: black;
      }
      &.selected {
        box-shadow: 0 0 20px white;
        background-color: white;
        color: black;
      }
    }
  }
  .active-city {
    // width: 70%;
    position: fixed;
    top: 20px;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: content;
    h3 {
      margin-top: 0;
    }
    img {
      width: 100%;
    }
  }
}

.list-group-item {
  background-color: transparent;
  cursor: pointer;
}


